<a href="https://colab.research.google.com/github/DhruvArora96/TitanicML/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/DhruvArora96/TitanicML/master/test.csv"
test_df = pd.read_csv(url)
url  ="https://raw.githubusercontent.com/DhruvArora96/TitanicML/master/train.csv"
train_df = pd.read_csv(url)

# Preprocessing

In [0]:
train_df=train_df.set_index("PassengerId")

In [13]:
train_df.pop("Name")

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
                             ...
887                                Montvila, Rev. Juozas
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                Behr, Mr. Karl Howell
891                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [15]:
train_df.pop("Ticket")
train_df.pop("Cabin")

PassengerId
1       NaN
2       C85
3       NaN
4      C123
5       NaN
       ...
887     NaN
888     B42
889     NaN
890    C148
891     NaN
Name: Cabin, Length: 891, dtype: object

In [18]:
train_df=train_df.dropna()
train_df.head()

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Survived
PassengerId
1                 3    male  22.0      1      0   7.2500        S         0
2                 1  female  38.0      1      0  71.2833        C         1
3                 3  female  26.0      0      0   7.9250        S         1
4                 1  female  35.0      1      0  53.1000        S         1
5                 3    male  35.0      0      0   8.0500        S         0

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
train_df_cat = train_df["Sex"]
train_df_encoded=label_encoder.fit_transform(train_df_cat)
one_hot_encoder = OneHotEncoder()
train_df_1hot = one_hot_encoder.fit_transform(train_df_encoded.reshape(-1,1))
train_df_1hot.toarray()

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [29]:
train_Df.pop("Sex")
train_df["Male"]=train_df_1hot.toarray()[:,1]
train_df["Female"]=train_df_1hot.toarray()[:,0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
train_df.head()

             Pclass   Age  SibSp  Parch  ...  Embarked Survived  Male  Female
PassengerId                              ...
1                 3  22.0      1      0  ...         S        0   1.0     0.0
2                 1  38.0      1      0  ...         C        1   0.0     1.0
3                 3  26.0      0      0  ...         S        1   0.0     1.0
4                 1  35.0      1      0  ...         S        1   0.0     1.0
5                 3  35.0      0      0  ...         S        0   1.0     0.0

[5 rows x 9 columns]

In [0]:
survived = train_df.pop("Survived")

In [0]:
train_df["Survived"]=survived

# Modelling