<a href="https://colab.research.google.com/github/DhruvArora96/TitanicML/blob/master/MissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/DhruvArora96/TitanicML/master/test.csv"
test_df = pd.read_csv(url)
url  ="https://raw.githubusercontent.com/DhruvArora96/TitanicML/master/train.csv"
train_df = pd.read_csv(url)

In [0]:
train_df=train_df.replace({"male":0,"female":1})

In [0]:
train_df=train_df.replace({"S":0,"C":1,"Q":2})

In [0]:
names=train_df["Name"]

In [7]:
train_df.pop("Cabin")
train_df.pop("Ticket")

0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

In [9]:
train_df.pop("Name")

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [10]:
train_df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500       0.0
1            2         1       1    1  38.0      1      0  71.2833       1.0
2            3         1       3    1  26.0      0      0   7.9250       0.0
3            4         1       1    1  35.0      1      0  53.1000       0.0
4            5         0       3    0  35.0      0      0   8.0500       0.0

In [0]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=25)

In [0]:
test_set=train_df[train_df.Age.isnull()]
train_set=train_df[train]

In [32]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64